:root{
  --vertical-x:rgba(0,0,0),
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  transition: all .5s;
}
body::selection{
  color: red !important;
}
body::-webkit-scrollbar{
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .input{
    border: none;
    outline: none;
    background-color: transparent;
  }
  input:focus-visible{
    /* border: none; */
    outline: none;
  }
  .input:focus-within{
    border: none;
    outline: none;
  }
  .input::placeholder, input::placeholder{
    color:  black;
  }
}
@layer components{
  .home-bg{
    background: url("./images/new-bg.webp") no-repeat;
    background-size: cover;
    background-position:20%;
    /* background-attachment: fixed; */
  }
  .hero-bg{
    background: url(./images/favouritesbg.webp) no-repeat;
    background-size: cover;
    background-position:20%;
  }
  .stick{
   position:  sticky ;
   top:calc(50% - calc((35 / 14) * 1rem)) ;
   transition: all .5s;
  }
 
}

@layer components{
  .nav-btn, .nav-links{
    position: relative;
  }
  .nav-btn::after,.nav-links::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: black;
    bottom: 0;
    left: 0;
    
    transition: all .5s;
  }
  .nav-btn:hover::after, .nav-links:hover::after{
    width: 100%;
  }
}
@layer components{
  .btn{
    background: black;
    transition: all .3s;
  }
  .btn:active{
    transform: scale(.975);
  }
}
.login input{
  width: 24rem;
}
.modal input{
  width: 100%;
}

.p-btn{
  transition: all .6s;
}

.product-card:hover .p-btn{
  opacity: 1;
} 